$green-color: #7c0;
.recipeFull {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .recipeFull__title {
    color: $green-color;
  }
}
.recipeFull__wrapper1,
.recipeFull__wrapper2 {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.recipeFull__img {
  max-width: 200px;
}
.recipeFull__info {
  margin-left: 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.recipeFull__nutrition {
  margin-top: 20px;
  width: 80%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
.nutrition__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.calories,
  &.servings {
    border-right: 1px solid grey;
    border-left: 1px solid grey;
  }
  :first-child {
    color: $green-color;
  }
}
.ingredients {
  width: 50%;
  .ingredients__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  .ingredients__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .ingredients__item {
      margin-bottom: 5px;
    }
  }
}
.healthLabels {
  width: 50%;
  display: flex;
  flex-direction: column;
  .healthLabels__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .healthLabels__list {
    display: flex;
    flex-wrap: wrap;
    .healthLabels__item {
      margin: 3px;
      padding: 2px;
      width: fit-content;
      background-color: $green-color;
      color: #fff;
    }
  }
}

@media screen and (max-width: 730px) {
  .recipeFull__info,
  .ingredients,
  .healthLabels {
    width: 100%;
  }
  .recipeFull__wrapper1,
  .recipeFull__wrapper2,
  .recipeFull__info {
    flex-direction: column;
    align-items: center;
  }
  .recipeFull__nutrition {
    width: 100%;
  }
}
