$text-color: #fff;

.form__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form__label-contact {
  margin-right: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: end;
}
.form__input-radio {
  margin-top: 5px;
  margin-left: 4px;
  background-color: black;
  color: $text-color;
}
