label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.dropdown-list {
  outline: none;
  margin-left: 5px;
  color: grey;
  border: 1px solid green;
  border-radius: 15px;
}
